@font-face {
    font-family: "Inter";
    src: url(fonts/Inter/inter.ttf);
}
body {
    margin: 0;
    padding: 0;
    background-color: rgba(239, 239, 239, 1);
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

img {
    border-radius: 39px;
    max-width: 740px;
    max-height: 584px;
}
.cats {
    width: 740px;
    height: 584px;
    margin-top: 35px;
}

.button {
    width: 740px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 95px;
}

.input {
    width: 271px;
    height: 114px;
    margin-right: 40px;
    font-family: Inter;
    font-size: 33px;
    line-height: 40px;
    font-style: italic;
    text-align: center;
}

.load {
    width: 280px;
    height: 120px;
    font-family: Inter;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    background: rgba(225, 241, 255, 1);
}

.load:hover{
    background: rgba(71, 167, 255, 1);
    transition: 0.3s;
}

.last {
    display: none;
}

.last.show {
    display: flex;
}
