@font-face {
    font-family: "Inter";
    src: url(fonts/Inter/inter.ttf);
}
body {
    margin: 0;
    padding: 0;
    background-color: rgba(239, 239, 239, 1);
    width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

img {
    border-radius: 39px;
    max-width: 640px;
    max-height: 484px;
}

.main {
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.cats {
    width: 640px;
    height: 484px;
    margin-top: 25px;
}

.button {
    width: 640px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 45px;
}

.input {
    width: 200px;
    height: 114px;
    margin-right: 40px;
    font-family: Inter;
    font-size: 25px;
    line-height: 40px;
    font-style: italic;
    text-align: center;
}

.load {
    width: 200px;
    height: 120px;
    font-family: Inter;
    font-size: 35px;
    line-height: 58px;
    font-weight: 400;
    background: rgba(225, 241, 255, 1);
}

.load:hover{
    background: rgba(71, 167, 255, 1);
    transition: 0.3s;
}

.last {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    width: 100%;
    justify-content: center;
}

.last.show {
    display: flex;
}
